.cls-modal-booking {
  margin: 20vh auto 0px auto;
}
.cls-modal-booking-text {
  font-size: 21px;
  margin-top: 14%;
}
.cls-modal-booking-footer a {
  margin-top: 5%;
}
.modal-dialog {
  margin-top: 70px;
}