{{ template "header" .}}
<section class="header_text sub">
<img class="pageBanner" src="themes/images/pageBanner.png" alt="New products" >
  <h4><span>Check Out</span></h4>
</section>  
<section class="main-content">
  <div class="row">
    <div class="span12">
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Checkout Options</a>
          </div>
          <div id="collapseOne" class="accordion-body in collapse">
            <div class="accordion-inner">
              <div class="row-fluid">
                <div class="span3"></div>
                <div class="span6">
                <h4>Returning Customer</h4>
                <p>Customer infomation </p>
                  <form method="post" action="/order" id="js-form-sbm">
                    <fieldset>
                      <div class="control-group">
                        <label class="control-label">Username</label>
                        <div class="controls">
                          <input type="text" value="{{ .Name }}" readonly="readonly" class="input-xlarge">
                        </div>
                      </div>
                      <div id="js-list-product"></div>
                      <div class="control-group">
                        <label class="control-label">TotalMoney</label>
                        <div class="controls">
                          <input type="text" name="total_money" id="total_money" readonly="readonly" class="input-xlarge">
                        </div>
                      </div>
                      
                      <button type="submit" id="checkout" class="btn btn-inverse">Checkout</p>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>        
    </div>
  </div>
</section>      
{{ template "footer" }}
