{{ define "modal" }}
<div class="modal fade cls-modal-booking" id="success-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="span1">
            <img class="" style="width:110px" src="/static/css/themes/images/check.svg" alt="">
          </div>
          <div class="">
            <p class="cls-modal-booking-text text-center text-primary">Add to cart success</p>
            <p class="text-center text-primary">Thank you, Please click 'Your Cart' to show and order!</p>
          </div>
        </div>
        <div class="modal-footer cls-modal-booking-footer">
          <button id="js-btn-close" class="btn btn-primary">Yes, I known</button>
        </div>
      </div>
      
    </div>
  </div>
  {{ end }}