{{ define "register"}}
<div class="span7">         
  <h4 class="title"><span class="text"><strong>Register</strong> Form</span></h4>
  <form action="#" method="post" class="form-stacked">
    <fieldset>
      <div class="control-group">
        <label class="control-label">Username</label>
        <div class="controls">
          <input type="text" placeholder="Enter your username" class="input-xlarge">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Email address:</label>
        <div class="controls">
          <input type="password" placeholder="Enter your email" class="input-xlarge">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Password:</label>
        <div class="controls">
          <input type="password" placeholder="Enter your password" class="input-xlarge">
        </div>
      </div>                                          
      <div class="control-group">
        <p>Now that we know who you are. I'm not a mistake! In a comic, you know how you can tell who the arch-villain's going to be?</p>
      </div>
      <hr>
      <div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit" value="Create your account"></div>
    </fieldset>
  </form>         
</div>        
{{ end }}
