{{ template "header" .}}

<section class="main-content"> 
    <h4 class="title"><span class="text">My <strong>Account</strong> Profile</span></h4>
  <div class="row">       
    <div class="span10">
      <p>
        <strong>UserName:</strong> {{ .User.UserName }}<br>
        <strong>Email:</strong><a href="#"> {{ .User.Email }}</a><br>
        <strong>Gender:</strong> {{ .User.Gender }} <br>
        <strong>Phone Number:</strong> {{ .User.Phone }} <br>
        <strong>Address:</strong> {{ .User.Address }} <br>
         <strong>Avatar:</strong> {{ .User.Avatar }} <br>
       </p>
       <br/>
    </div>
    
  </div>
</section> 

{{ template "footer" }}
